<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <title>Well hello there!</title>
 </head>
 <body>
   <h1>Respond to client</h1>
   <p>Name: {{Name}}</p>
   <p>Email: {{Email}}</p>
   <p>Message:</p>
   {{Message}}<br>
   <p>Dates: {{dates}}</p>

 </body>
</html>
