<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <title>Well hello there!</title>
 </head>
 <body>
   <style>
    body{
     background-color: powderblue;
   }
   .bordered{
     border:solid 1px;
   }
   .confButton{
     margin: 5px;
     width: 465px;
     height:120px;
     background-color: green;
     font-size: 30px;
   }
   .clicked{
     background-color: LightGreen !important;
   }
   </style>
   <h1>Respond to client</h1>

   <h2>Client Info</h2>
   <p>Name: {{Name}}</p>
   <p>Email: {{Email}}</p>
   <p>Message:</p>
   <p class = "bordered">{{Message}}</p><br>
   <p>Dates: {{dates}}</p>

   <h2>Client Response</h2>

   <form>
     <p id = "para">Type your response below, or hit submit to send default response</p>
     <button type = "button" id="accept" class = "confButton" onclick = "bclick(0);">Accept</button><button type = "button" id = "decline" class = "confButton" onclick = "bclick(1);">Decline</button>
     <textarea id ="res" rows = "10" cols = "68" style = "font-size:25px;">Hey, this is Rob. I got your message concerning the service you booked on my website. I have reviewed your request and I am able to complete it. You are booked for {{dates}}. Email me at r_silver@robsilvervisuals.com, text me at 4436132750, or dm me on my instagram to coordinate time of day and other details. Thanks for choosing RobSilverVisuals, and I hope you have an awesome day. -Rob</textarea>
     <button id = "submit" type = "button" class = "confButton" onclick = "bsubmit();" style="width:950px !important">Submit</button>
   </form>
 <script>
 var conf = null;
 var accept = document.getElementById("accept");
 var decline = document.getElementById("decline");
 var res = document.getElementById("res");
 var submit = document.getElementById("submit");
 var para = document.getElementById("para");
 var bclick = function(button){
   var defRes = [];
   defRes[0] = "Hey, this is Rob. I got your message concerning the service you booked on my website. I have reviewed your request and I am able to complete it. You are booked for: {{dates}}. Email me at r_silver@robsilvervisuals.com, text me at 4436132750, or dm me on my instagram to coordinate time of day and other details. Thanks for choosing RobSilverVisuals, and I hope you have an awesome day. -Rob";
   defRes[1] = "Hey, this is Rob. I got your message concerning the service you booked on my website. Unfortunately, I am unable to complete your request at this time. I either have something going on during one of the dates you requested, or I'm not able to complete your request for other reasons. You are welcome to submit another request on my website, and I will look it over again and get back to you. If you have any questions or concerns, email me at r_silver@robsilvervisuals.com, text me at 4436132750, or dm me on my instagram. I apologize for any inconvenience, and I hope you have a great day. -Rob"
   if(button == 0){
     conf = true;
     accept.classList.add("clicked");
     decline.classList.remove("clicked");
     res.innerHTML = defRes[0];
   }else if(button == 1){
     conf = false;
     decline.classList.add("clicked");
     accept.classList.remove("clicked");
     res.innerHTML = defRes[1];
   }
 }
 var bsubmit = function(){
   if(conf != null){
     var formD = "{{dates}}";
     var formDates = JSON.stringify(formD.split(","));
   var formData = {
     Name: "{{Name}}",
     Msg:res.innerHTML,
     clientMsg: "{{Message}}",
     Conf: conf,
     Email: "{{Email}}",
     Dates: formDates
   };
   if(confirm("Are you sure everything is correct? Hit okay to send and cancel to edit")){
   $.ajax({
     method:"POST",
     url:"https://ajax-handler.herokuapp.com/confirm",
     data: formData
   });
    alert("Response Sent!");
    var m = res.innerHTML;
    res.style.display = "none";
    accept.style.display = "none";
    decline.style.display = "none";
    submit.style.display = "none";
    para.classList.add("bordered");
    para.innerHTML = m;
  }
  }else{
    alert("Select accept or decline");
  }
  }
 </script>
 </body>
</html>
