<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <title>Well hello there!</title>
 </head>
 <body>
   <h1>Nothing to see here</h1>
   <p>This site does nothing except handle incoming ajax requests</p>
 </body>
</html>
